In [54]:
# Desafio 02

# Imports
import numpy as np
import pandas as pd

In [55]:
df = pd.read_csv("bike-sharing.csv")

In [56]:
df.head()

,datetime,rec_id,season,year,month,hour,is_holiday,weekday,is_workingday,weather_condition,temp,atemp,humidity,windspeed,casual,registered,total_count
0,2011-01-01,1,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2011-01-01,2,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,2011-01-01,3,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,2011-01-01,4,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,2011-01-01,5,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [57]:
df.describe()

,rec_id,season,year,month,hour,is_holiday,weekday,is_workingday,weather_condition,temp,atemp,humidity,windspeed,casual,registered,total_count
count,17379.0000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000
mean,8690.0000,2.501640,0.502561,6.537775,11.546752,0.028770,3.003683,0.682721,1.425283,0.496987,0.475775,0.627229,0.190098,35.676218,153.786869,189.463088
std,5017.0295,1.106918,0.500008,3.438776,6.914405,0.167165,2.005771,0.465431,0.639357,0.192556,0.171850,0.192930,0.122340,49.305030,151.357286,181.387599
min,1.0000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,4345.5000,2.000000,0.000000,4.000000,6.000000,0.000000,1.000000,0.000000,1.000000,0.340000,0.333300,0.480000,0.104500,4.000000,34.000000,40.000000
50%,8690.0000,3.000000,1.000000,7.000000,12.000000,0.000000,3.000000,1.000000,1.000000,0.500000,0.484800,0.630000,0.194000,17.000000,115.000000,142.000000
75%,13034.5000,3.000000,1.000000,10.000000,18.000000,0.000000,5.000000,1.000000,2.000000,0.660000,0.621200,0.780000,0.253700,48.000000,220.000000,281.000000
max,17379.0000,4.000000,1.000000,12.000000,23.000000,1.000000,6.000000,1.000000,4.000000,1.000000,1.000000,1.000000,0.850700,367.000000,886.000000,977.000000

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   datetime           17379 non-null  object
 1   rec_id             17379 non-null  int64
 2   season             17379 non-null  int64
 3   year               17379 non-null  int64
 4   month              17379 non-null  int64
 5   hour               17379 non-null  int64
 6   is_holiday         17379 non-null  int64
 7   weekday            17379 non-null  int64
 8   is_workingday      17379 non-null  int64
 9   weather_condition  17379 non-null  int64
 10  temp               17379 non-null  float64
 11  atemp              17379 non-null  float64
 12  humidity           17379 non-null  float64
 13  windspeed          17379 non-null  float64
 14  casual             17379 non-null  int64
 15  registered         17379 non-null  int64
 16  total_count        17379 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB

In [59]:
# Qual o tamanho do dataset
df.shape

(17379, 17)

In [60]:
# Qual a média da coluna windspeed?
media_windspeed = df['windspeed'].mean()
print(media_windspeed)

0.19009760630646177

In [61]:
# Qual a média da coluna temp?
media_temp = df['temp'].mean()
print(media_temp)

0.4969871684216583

In [68]:
# Quantos registros existem para o ano de 2011?
df['datetime'] = pd.to_datetime(df['datetime'])
df['Ano'] = df['datetime'].dt.year
registros_2011 = df['rec_id'][df['Ano']==2011].count()
print(registros_2011)

8645

In [70]:
# Quantas locações foram efeturadas em 2012
registros_2012 = df['rec_id'][df['Ano']==2012].count()
print(registros_2012)

8734

In [71]:
# Quantas locações foram efeturadas em 2011
locacoes_2011 = df[df['Ano']==2011].groupby('Ano')['total_count'].sum()
locacoes_2011

Ano
2011    1243103
Name: total_count, dtype: int64

In [72]:
# Quantas locações foram efeturadas em 2012
locacoes_2012 = df[df['Ano']==2012].groupby('Ano')['total_count'].sum()
locacoes_2012

Ano
2012    2049576
Name: total_count, dtype: int64

In [81]:
# Qual estação do ano contém a maior média de locações de bicicletas?
estacao_media_maior_locacoes = df[['season','total_count']].groupby('season')['total_count'].mean().idxmax()
estacao_media_maior_locacoes

3

In [82]:
# Qual estação do ano contém a menor média de locações de bicicletas?
estacao_media_menor_locacoes = df[['season','total_count']].groupby('season')['total_count'].mean().idxmin()
estacao_media_menor_locacoes

1

In [83]:
# Qual horário do dia contém a maior média de locações de bicicletas?
hora_media_maior_locacoes = df[['hour','total_count']].groupby('hour')['total_count'].mean().idxmax()
hora_media_maior_locacoes

17

In [84]:
# Qual horário do dia contém a menor média de locações de bicicletas?
hora_media_menor_locacoes = df[['hour','total_count']].groupby('hour')['total_count'].mean().idxmin()
hora_media_menor_locacoes

4

In [85]:
# Que dia da semana contém a maior média de locações de bicicletas?
dia_media_maior_locacoes = df.groupby('weekday')['total_count'].mean().idxmax()
dia_media_maior_locacoes

4

In [86]:
# Que dia da semana contém a menor média de locações de bicicletas?
dia_media_menor_locacoes = df.groupby('weekday')['total_count'].mean().idxmin()
dia_media_menor_locacoes

0

In [87]:
# Às quartas-feiras (weekday = 3), qual o horário do dia que contém a maior 
# média de locações de bicicletas?
horario_media_maior_locacoes = df[df['weekday']==3].groupby('hour')['total_count'].mean().idxmax()
horario_media_maior_locacoes

17

In [88]:
# Aos sábados (weekday = 6), qual o horário do dia que contém a maior média 
# de locações de bicicletas?
horario_media_maior_locacoes = df[df['weekday']==6].groupby('hour')['total_count'].mean().idxmax()
horario_media_maior_locacoes

13